fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
requests
faiss-cpu
rank_bm25
numpy
tqdm
python-docx
aiofiles
bcrypt==4.0.1
langchain-core
langchain-community
langchain
torch==2.1.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers==2.7.0
