fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]==1.7.4
python-multipart
python-dotenv
requests
faiss-cpu
rank_bm25
numpy
tqdm
python-docx
aiofiles
bcrypt==4.0.1
langchain-core
langchain-community
langchain
pydantic-settings
alembic
slowapi
werkzeug
pypdf
