fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
requests
faiss-cpu
rank_bm25
numpy
tqdm
python-docx
aiofiles
bcrypt==4.0.1
langchain-core
langchain-community
langchain
